<div class="row">
  <div class="large-12 columns">
    <h1> Welcome to pdlawson.com </h1>
    <div class="description">
      <img src="<%= @profile_image_src %>" class="left">  
      <p>
        I'm a software developer living in London, with a passion for technology.
        I currently work at <a href="https://www.songkick.com"> Songkick </a>, a live music company which helps music fans find and go to concerts.
      </p>
      <p>
        On this website you'll find my <a href="/blog"> blog </a>, which is a collection of posts related to software, technology, algorithms, and various other topics that interest me.
        You can also find my <a href="/profile"> profile </a>, which contains details of my skills, education and career history.
      </p>
    </div>
  </div>
</div>
