div.errors
{
  border: solid 1px red;
  background-color: #ffcccc;
  padding: 5px;
  padding-left: 10px;
  width: 485px;
}

div.errors h3
{
  font-size: 1.0em;
}

.fieldWithErrors
{
  display: inline;
}

span.error
{
  font-weight: bold;
}

