<% content_for(:page_title) do -%>
  <%= page_title(profile_title_parts) %>
<% end -%>

<% content_for(:page_heading) do -%>
  <%= page_heading(profile_title_parts) %>
<% end -%>

<div id="profile">
  <div class="row">
    <div class="large-12 columns">
      <div id="education" class="section clearfix">
        <span class="title left"> Education </span>
        <div class="right icon">
          <div class="icon-book">
          </div>
          <div class="entry">
            <h5> <strong> PhD in Pure Mathematics (2004 - 2008, University of Leeds) </strong> </h5>
            <p>
              My thesis, "Ideals in Banach algebras and notions of amenability", explored the structure of infinite dimensional vector spaces.
              I published a paper <a href="http://www1.maths.leeds.ac.uk/~read/FRECHET7.pdf"> Approximate amenability of Frechet Algebras </a> with my supervisor Charles Read, and a solo paper <a href="http://dx.doi.org/10.1017/S0305004106009935"> Automatically closed prime ideals </a>.
            </p>
            <h5> <strong> Oxford University - MMath in Mathematics (2000 - 2004) </strong> </h5>
            <p>
              Acheived 1st class honours degree.
            </p>
            <h5> <strong> A-levels </strong> </h5>
            </p>
              Mathematics (A), Further Mathematics (A), Physics (A), Chemistry (A)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div id="skills" class="section clearfix">
        <span class="title right"> Skills </span>
        <div class="left icon">
          <div class="icon-laptop">
          </div>
          <div class="entry">
            <p> <strong> Programming languagues - </strong> Professional development experience in both web and mobile development using Python, Ruby, Objective-C, HTML, CSS, Javascript and JQuery. I've also written home projects in C++, Java, Scala and Haskell. </p>
            <p> <strong> Databases and caching - </strong> Extensive use of MongoDB, MySQL, SQLite, Redis, Memcached in production environments. </p>
            <p> <strong> Big Data - </strong> I have engineered solutions using Hadoop HDFS and MapReduce to aggregate and report on large datasets. </p>
            <p> <strong> Webservers and frameworks - </strong> I've built servers in Python using both Django and Tornado, and in Ruby using Rails and Sinatra. </p>
            <p> <strong> Programming environment - </strong> Experienced at configuring and developing with Linux, and with version control using Git. </p>
            <p> <strong> Mobile development - </strong> Experienced iOS application developer. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div id="career" class="section clearfix">
        <span class="title left"> Career </span>
        <div class="right icon">
          <div class="icon-profile">
          </div>
          <div class="entry">
            <h5> <strong> Developer at Songkick (March 2013 - present) </strong> </h5>
            <p>
              I am a developer on the Songkick web application (Ruby, Rails, Javascript, HTML, CSS) and the Songkick iOS application (Objective-C).
            </p>
            <h5> <strong> Developer at Alchemy Social (August 2011 - March 2013) </strong> </h5>
            <p>
              I was a Python developer on Profile Manager, a Social marketing and analytics platform. One of my key responsibilities was building our data aggregation system using MongoDB and Amazon Elastic MapReduce.
            </p>
            <h5> <strong> Operational Research Analyst at HM Revenue and Customs (December 2008 - August 2011) </strong> </h5>
            <p>
            My role was to use mathematical modelling to inform operational decision-making
            I implemented complex statistical modelling techniques such as Discrete Event Simulation, Monte Carlo Simulation, Econometric forecasting, and created and managed large databases.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div id="hobbies" class="section clearfix">
        <span class="title right"> Activities and Interests </span>
        <div id="music-icon" class="left icon">
          <div class="icon-music">
          </div>
          <div class="entry">
            <p>
            As a student I frequently took on leadership roles, including president of the Oxford University Darts Society which had over 350 members, and treasurer of the Leeds University Bridge Society.
            In my spare time, I enjoy taking part in several outdoor activities, particularly playing football, running and mountain walking. I also enjoy playing the guitar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var locked = false,
      animateTime = 1000;

  $(".section").click(function(){
    if(locked){
      return;
    }
    locked = true;
    var section = $(this);

    if(isExpanded(section)){
      contractSection(section);
    } else {
      $('.section').each(function(i, obj) {
        var otherSection = $(obj);
        if((otherSection[0] != section[0]) && isExpanded(otherSection)){
          console.log("contracting");
          console.log(otherSection);
          contractSection(otherSection);
        }
      });
      expandSection(section);
    }
    locked = false;
  });

  function expandSection(section){
    var title = section.children(".title").first(),
        entry = section.find(".entry").first(),
        icon = section.children(".icon").first();

    title.slideUp();
    entry.css("visibility", "visible");
    var entryHeight = entry.height();
    icon.css('width', '100%').css('font-size', '180px');
    var entryAutoHeight = entry.css('height', 'auto').height();
    icon.css('width', '70px').css('font-size', '50px');
    entry.height(entryHeight).animate({
      height: entryAutoHeight}, animateTime);
    icon.animate({
      "width": "100%", 
      "font-size": "180px"
    }, animateTime);
    setTimeout(function(){
      entry.css('height', 'auto');
    },animateTime);
    section.data('expanded', true);
  }
  
  function contractSection(section){
    var title = section.children(".title").first(),
        entry = section.find(".entry").first(),
        icon = section.children(".icon").first();

      entry.css("visibility", "hidden");

      icon.animate({
        "width": "70px",
        "font-size": "50px"
      }, animateTime);
      entry.animate({
        "height": "50px"
      }, animateTime);
      setTimeout(function(){
        title.slideDown();
      },animateTime * 0.75);
    section.data('expanded', false);
  }

  function isExpanded(section){
    return (section.data('expanded') === true);
  }
</script>
